<h1>Product Inventory Management System</h1>

<div *ngIf="responseMessage" [ngClass]="isError ? 'error-msg' : 'success-msg'">
  {{ responseMessage }}
</div>

<hr>

<div class="product-form">
  <h2>{{ productId ? 'Edit Product' : 'Add Product' }}</h2>

  <form #productForm="ngForm" (ngSubmit)="submit(productForm)" novalidate>

    <input
      placeholder="Product Code"
      [(ngModel)]="product.productCode"
      name="productCode"
      required
      [readonly]="productId"
      [ngClass]="{ 'readonly-field': productId }"
    />

    <input
      placeholder="Product Name"
      [(ngModel)]="product.productName"
      name="productName"
      required
    />

    <input
      placeholder="Category"
      [(ngModel)]="product.category"
      name="category"
      required
      [readonly]="productId"
      [ngClass]="{ 'readonly-field': productId }"
    />

    <input
      type="number"
      placeholder="Price"
      [(ngModel)]="product.price"
      name="price"
      min="0"
      required
    />

    <button
      type="submit"
      [disabled]="productForm.invalid || isLoading">
      {{ buttonText }}
    </button>

    <button
      type="button"
      *ngIf="productId"
      (click)="reset(productForm)">
      Cancel
    </button>

  </form>
</div>

<hr>

<div class="products-Data">
  <h2>Product List</h2>

  <table border="1" width="100%">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of productList">
        <td>{{ p.productCode }}</td>
        <td>{{ p.productName }}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.price }}</td>
        <td>
          <button type="button" (click)="edit(p)">Edit</button>
          <button type="button" (click)="delete(p._id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>