<h1>Product Inventory Management System</h1>
<div *ngIf="responseMessage"
     [ngClass]="isError ? 'error-msg' : 'success-msg'">
  {{ responseMessage }}
</div>
<hr>
<div class="product-form">
<h2>Product Form</h2>
<form   (ngSubmit)="submit()" #f="ngForm">
  <input *ngIf="!productId" placeholder="Product Code"
         [(ngModel)]="product.productCode"
         name="code" >

  <input placeholder="Product Name"
         [(ngModel)]="product.productName"
         name="name">

  <input *ngIf="!productId" placeholder="Category"
         [(ngModel)]="product.category"
         name="category">

  <input type="number" placeholder="Price"
         [(ngModel)]="product.price"
         name="price" min="0">

  <button type="submit">
    {{ buttonText }}
  </button>
</form>
</div>
<hr>
<div class="products-Data">
<h2>Product List</h2>

<table border="1" width="100%" >
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let product of productList" >
    <td>{{ product.productCode }}</td>
    <td>{{ product.productName }}</td>
    <td>{{ product.category }}</td>
    <td>{{ product.price }}</td>
    <td>
      <button (click)="edit(product)">Edit</button>
      <button (click)="delete(product._id)">Delete</button>
    </td>
  </tr>
</table>
</div>
