*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 10px;
    background-color:  #ececec;
}

h1{
    text-align: center;
    background-color:#9fd3c7;
    font-size: 50px;
}

.product-form{
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #385170;
    text-align: center;
    gap:10px;
}
h2{
  text-align: center;
  color:#ececec;
  font-size: 50px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 30px;
}
form input{
    padding: 10px;
    font-size: 30px;
}
form button{
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: lightgreen;
    border: 1px solid green;
}
.products-Data {
  margin: 2px auto;

  background-color: #142d4c;
}
.products-Data h2 {
  text-align: center;
  color:#ececec;
  font-size: 50px;
}
.products-Data table {
  width: 100%;
  border-collapse: collapse;
}
.products-Data th {
  background-color: #385170;
  color:#ececec;
  font-size:40px;
  font-weight: bold;
  padding: 8px;
  text-align: center;

}
.products-Data td {
  text-align: center;
  padding: 8px;
  background-color: #ececec;
  font-size: 30px;
}
.products-Data button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
    font-size: 30px;

}
.products-Data button:first-child {
  background-color: lightgreen;
  border: 1px solid green;
}
.products-Data button:last-child {
  background-color: lightcoral;
  border: 1px solid red;
}

.success-msg {
    text-align: center;
    font-size: 30px;
  color: green;
  margin: 10px 0;
  font-weight: 500;
}
.error-msg {
     text-align: center;
    font-size: 30px;
  color: red;
  margin: 10px 0;
  font-weight: 500;
}

